[submodule "flexiport"]
	path = demo/flexiport
	url = https://github.com/gbiggs/flexiport.git
[submodule "hokuyoaist"]
	path = demo/hokuyoaist
	url = git@github.com:durka/hokuyoaist
	branch = my-changes
[submodule "marcus_model"]
	path = marcus_model
	url = https://github.com/marcuspanje/DSP_model
